[Unit]
Description=Yet Another Btrfs Snapshotter Timer

[Service]
User=root
Type=oneshot
ExecStart=/usr/bin/yabsnap internal-cronrun
TimeoutStopSec=30m
