[Unit]
Description=Yet Another Btrfs Snapshotter

[Timer]
OnCalendar=*-*-* *:30:00
AccuracySec=30s
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=timers.target
