[Unit]
Description=Yet Another Btrfs Snapshotter Timer

[Timer]
OnCalendar=*-*-* *:30:00
AccuracySec=30s
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
